.instant-search-item .img-block {
    font-size: 0;
}
.instant-search-item .img-block img {
    position: static !important;
}

.overview-buttons > div {
    display: inline-block !important;
}
.overview .add-to-cart-button, 
.variant-overview .add-to-cart-button,
.ajax-cart-button-wrapper {
    width: 200px !important;
    max-width: 100%;
}

@media all and (min-width: 481px) and (max-width: 1200px) {

    .customer-pages-body .block .list a {
        width: 50px;
        height: 50px;
        font-size: 0;
        padding: 0;
    }

}

@media all and (min-width: 1201px) {

    .customer-pages-body .block .list a.inactive {
        width: 50px;
        height: 50px;
        font-size: 0;
        padding: 0;
    }
    .customer-pages-body .block .list a.inactive:after {
        display: none;
    }

    .theme-roller button {
        top: 0 !important;
        right: -46px !important;
    }

}
